html, body {
    margin: 0;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    color: #DDE6ED;
    background-image: url(../LoginPageBackground.jpg);
}