html,
body {
    margin: 0;
}

.tasksPage {
    display: flex;
    flex-direction: row;
    text-align: center;

    color: white;

    background-image: url(../backgroundImage.jpg);
    background-size: cover;
    background-position: center;
    
    user-zoom: fixed;
}

.leftPanel {
    height: 100vh;
    width: 20%;

    color: white;

    background-color: rgba(39, 41, 43, 0.351);
}

/* centerPanel */

.centerPanel {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 60%;
}

/* rightPanel */

.rightPanel {
    height: 100vh;
    width: 20%;

    color: white;

    background-color: rgba(39, 41, 43, 0.351);
}

/* addTaskPanel */

.addTaskPanel {
    height: 90vh;
    width: 100%;
}

.addTaskPanel h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;

    margin: 0;
    
    padding-top: 3vh;
    padding-bottom: 5vh;

    color: white;
}

.addTaskPanel input {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: rgba(255, 255, 255, 0.579);
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.addTaskPanel input:hover {
    border: solid 0.25vh white;
}

.addTaskPanel input:focus {
    border: solid 0.25vh red;
}

.addTaskPanel input[type="date"] {
    color: white;
}

.addTaskPanel input[type="date"]:hover {
    cursor: pointer;
}

.addTaskPanel input[type="date"]::-webkit-calendar-picker-indicator {
    /* Changes calendar icon color to white (from black)*/
    filter: invert(1);
}

.addTaskPanel input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.addTaskPanel select {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.addTaskPanel select:hover {
    border: solid 0.25vh white;
    cursor: pointer;
}

.addTaskPanel select:focus {
    border: solid 0.25vh red;
}

.addTaskPanel option {
    color: black;
}

.addTaskPanel button {
    font-size: 2.5vh;
    width: 35%;

    padding: 1vh;
    margin: 5vh 2vh;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.601);
}

.addTaskPanel button:hover {
    cursor: pointer;

    border: solid 0.25vh red;
}

.showDatePanel {
    height: 10vh;
    width: 100%;
}

/* orderTasksPanel */

.orderTasksPanel {
    height: 10vh;
    width: 100%;

    background-color: rgba(39, 41, 43, 0.351);
}

.orderTasksPanel h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;

    color: white;

    margin: 0;
    padding: 0;
    padding-top: 1.5vh;
}

.orderTasksPanel select {
    font-size: 1.5vh;
    width: 10%;
    margin: 0vh 1vw;
    padding: 0.5vh;
    outline: none;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.orderTasksPanel select:hover {
    border: solid 0.25vh white;
    cursor: pointer;
}

.orderTasksPanel select:focus {
    border: solid 0.25vh red;
}

.orderTasksPanel option {
    color: black;
}

.orderTasksPanel button {
    font-size: 1.5vh;
    width: 5%;

    padding: 0.5vh;
    margin-left: 1vw;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.601);
}

.orderTasksPanel button:hover {
    cursor: pointer;

    border: solid 0.25vh red;
}

/* showTasksPanel */

.showTasksPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90vh;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-y: auto;
}

.showTasksPanel::-webkit-scrollbar {
    width: 0.0vw;
}

.showTasksPanel::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.showTasksPanel h1 {
    padding-top: 40vh;

    color: rgba(255, 255, 255, 0.579);
}

.showTasksPanel textarea {
    min-height: 15vh;
    height: 15vh;
    width: 60%;

    font-size: 2vh;
    line-height: 2vh;

    margin: 3.75vh 0;
    padding: 0 2vw;
    padding-top: 1.5vh;

    color: rgba(255, 255, 255, 0.579);
    background-color: rgba(39, 41, 43, 0.254);

    border: solid 0.25vh rgba(255, 255, 255, 0.168);
    border-radius: 20vh;

    text-align: center;
    outline: none;
    resize: none;
    caret-color: transparent;
}

.showTasksPanel textarea:hover {
    border: solid 0.25vh rgba(255, 255, 255, 0.437);

    cursor: pointer;
}

.showTasksPanel textarea::-webkit-scrollbar {
    width: 0.0vw;
}

.showTasksPanel textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* findTasksPanel */

.findTasksPanel h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;

    margin: 0;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.findTasksPanel input {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: rgba(255, 255, 255, 0.579);
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.findTasksPanel input:hover {
    border: solid 0.25vh white;
}

.findTasksPanel input:focus {
    border: solid 0.25vh red;
}

.findTasksPanel input[type="date"] {
    color: white;
}

.findTasksPanel input[type="date"]:hover {
    cursor: pointer;
}

.findTasksPanel input[type="date"]::-webkit-calendar-picker-indicator {
    /* Changes calendar icon color to white (from black)*/
    filter: invert(1);
}

.findTasksPanel input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.findTasksPanel select {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.findTasksPanel select:hover {
    border: solid 0.25vh white;
    cursor: pointer;
}

.findTasksPanel select:focus {
    border: solid 0.25vh red;
}

.findTasksPanel option {
    color: black;
}

.findTasksPanel button {
    font-size: 2.5vh;
    width: 35%;

    padding: 1vh;
    margin: 0vh 2vh;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.601);
}

.findTasksPanel button:hover {
    cursor: pointer;

    border: solid 0.25vh red;
}

.findTasksPanel button[id="btnFindTasks"],
.findTasksPanel button[id="btnClearForm"] {
    margin-top: 5vh;
}

.findTasksPanel button[id="btnShowAllTasks"] {
    width: 50%;
    margin-top: 5vh;
}