html, body {
    margin: 0;
}

.tasksPage {
    display: flex;
    flex-direction: row;
    text-align: center;

    color: white;

    background-image: url(../backgroundImage.jpg);
    background-size: cover;
    background-position: center;
}

/* addTaskPanel */

.addTaskPanel {
    height: 100vh;
    width: 20%;

    background-color: rgba(39, 41, 43, 0.351);
}

.addTaskPanel h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;

    color: white;

    padding-bottom: 2vh;
}

.addTaskPanel input {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: rgba(255, 255, 255, 0.579);
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.addTaskPanel input:hover {
    border: solid 0.25vh white;
}

.addTaskPanel input:focus {
    border: solid 0.25vh red;
}

.addTaskPanel input[type="date"] { 
    color: white;
}

.addTaskPanel input[type="date"]:hover { 
    cursor: pointer;
}

.addTaskPanel input[type="date"]::-webkit-calendar-picker-indicator { /* Changes calendar icon color to white (from black)*/
    filter: invert(1);
}

.addTaskPanel input[type="date"]::-webkit-calendar-picker-indicator:hover { 
    cursor: pointer;
}

.addTaskPanel select {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.addTaskPanel select:hover {
    border: solid 0.25vh white;
    cursor: pointer;
}

.addTaskPanel select:focus {
    border: solid 0.25vh red;
}

.addTaskPanel option {
    color: black;
}

.addTaskPanel button {
    font-size: 2.5vh;
    width: 35%;
    
    padding: 1vh;
    margin: 5vh 2vh;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.601);
}

.addTaskPanel button:hover {
    cursor: pointer;

    border: solid 0.25vh red;
}

/* showTasksPanel */

.showTasksPanel {
    height: 100vh;
    width: 60%;
}

/* findTasksPanel */

.findTasksPanel {
    height: 100vh;
    width: 20%;

    color: white;

    background-color: rgba(39, 41, 43, 0.351);
}

.findTasksPanel h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;

    padding-bottom: 2vh;
}

.findTasksPanel input {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: rgba(255, 255, 255, 0.579);
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.findTasksPanel input:hover {
    border: solid 0.25vh white;
}

.findTasksPanel input:focus {
    border: solid 0.25vh red;
}

.findTasksPanel input[type="date"] { 
    color: white;
}

.findTasksPanel input[type="date"]:hover { 
    cursor: pointer;
}

.findTasksPanel input[type="date"]::-webkit-calendar-picker-indicator { /* Changes calendar icon color to white (from black)*/
    filter: invert(1);
}

.findTasksPanel input[type="date"]::-webkit-calendar-picker-indicator:hover { 
    cursor: pointer;
}

.findTasksPanel select {
    font-size: 2.25vh;
    width: 65%;
    margin-bottom: 3vh;
    padding: 1vh;
    outline: none;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.342);
    border-radius: 1.5vh;
}

.findTasksPanel select:hover {
    border: solid 0.25vh rgba(255, 255, 255, 0.601);
    cursor: pointer;
}

.findTasksPanel select:focus {
    border: solid 0.25vh red;
}

.findTasksPanel option {
    color: black;
}

.findTasksPanel button {
    font-size: 2.5vh;
    width: 35%;
    
    padding: 1vh;
    margin: 5vh 2vh;

    color: white;
    background-color: rgba(39, 41, 43, 0.351);

    border: solid 0.25vh rgba(255, 255, 255, 0.601);
}

.findTasksPanel button:hover {
    cursor: pointer;

    border: solid 0.25vh red;
}